[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
supabase = "*"
psycopg2-binary = "*"
python-dotenv = "*"
requests = "*"
vercel = "*"
sqlalchemy = "*"
dotenv = "*"
typing-extensions = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"